<h1>Edit Book</h1>
<form action="/books/<%= book.id %>?_method=PUT" method="post" enctype="multipart/form-data">
    <%- include('_form_fields') %>
    <a href="/books">Cancel</a>
    <button>Update</button>
</form>