<header>
    <logo><a href="/">NodeBrary</a></logo>
    <nav>
        <ul>
            <li>
                <a href="/authors">Authors</a>
            </li>
            <li>
                <a href="/authors/add">Add Authors</a>
            </li>
        </ul>
    </nav>
</header>