<h2>Recent Books Added to the Library</h2> 
<% if(books.length > 0) { %>
    <% books.forEach( book => { %>
        <a href="/books/<%= book.id %>"><img  width="100" height="150" src="<%= book.coverImagePath %>"></a>
        <label><%= book.title %></label>
        <small><%= book.publishDate.toISOString().split('T')[0] %></small>
    <% }) %>
<% } else { %>    
    No Books found!
<% } %>